<style>
body{
	background-color: #eed0e0; 
}
#navigation{
	width: 200px;
	font-family: Arial;
}
#navigation > ul > li{
	border-bottom: 1px solid #AD9F9F;
}
#navigation > ul > li > a{
	display: block;
	padding: 5px 5px 5px 0.5em;
	text-decoration: none;
	border-left: 12px solid #711111;
}
#navigation > ul > li > a:link,#navigation > ul > li > a:visited{
	background-color: #c11136;
	color: #FFFFFF;
}
#navigation > ul > li > a:hover{
	background-color: #880020;
	color: #ff0000;
}
h1{
	color:red;
	background-color: #49ff01;
	text-align: center;
	padding: 20px;
}
img{
	float:left;
border: 2px #F00 solid;
margin: 5px;
}
#navigation ul li ul{
	margin: 0px;
	padding: 0px 0px 0px 0px;
}
#navigation ul li ul li{
	border-top: 1px solid #ED9F9F;
}
#navigation ul li ul li a{
	display: block;
	padding: 3px 3px 3px 0.5em;
	text-decoration: none;
	border-left: 28px solid #a71ff;
	border-right: 1px solid #711515;
}
#navigation ul li ul li a:link,#navigation ul li ul li a:visited{
	background-color: #e85070;
	color:#FFFFFF;
}
#navigation ul li ul li a:lover{
	background-color: #c2425d;
	color:#FFFF00;
}
#navigation ul li ul.myHide{
	display: none;
}
#navigation ul li ul.myShow{
	display: block;
}
</style>