#bar{
    
}
#bar li {
    /*取消li小圆点*/
    list-style: none;
}

#bar li span {
    /*给 span 标签设置背景图片（开头的小加号小减号，no-repeat不循环，初始位置 0 0）*/
    background: url(add.png) no-repeat left center;
    padding-left: 20px;
}

/*起始样式*/
#bar li ul {
    height: 0;
    /*溢出隐藏*/
    overflow: hidden;
    /*添加过渡效果*/
    transition: all 0.5s;
}
/*展开样式*/
.open {
    background-image: url(minus.png);
}
.open + ul {
    height: 70px;
}
