.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.page {
    /* width: 100vw;
    height: 100vh;
    background: url("/img/main.jpg") no-repeat;
    background-size: 100%;
    background-size: cover;
    position: absolute;
    overflow: hidden; */

    width: 100vw;
    height: 100vh;
    background: url(/img/header.png) no-repeat top center;

    /* background-position: ; */
    /* background-size: 100%; */
    background-size: cover;
}

.up {
    height: 6%;
}

.row1 {
    height: 6vh;
}

.tu {
    height: 1.5rem;
}

.one {
    margin: 0 0 0 2rem;
}

.menu-icon {
    width: 30px;
    height: 25px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    background-color: white;
    padding: 7px 0;
    background-clip: content-box;
}

.center {
    height: 84%;
}

.you {
    margin: 0 0 0 10rem;
}

.row2 {
    height: 84vh;
}

.bottom {
    height: 10%;
}

.img {
    opacity: 0.6;
}

.color {
    border-top: 1px solid white;
}
